<!doctype html>
<html>

<head>
    <style>
        .box {
            text-align: center;
            border: 1px solid black;
            border-radius: 10px;
            width: fit-content;
            padding: 5px;
        }

        .err {
            font-family: 'Courier New', Courier, monospace;
            color: red;
        }

        .messages {
            overflow-y: scroll;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Messages</title>
</head>

<body>
    {{>nav}}
    <br>
    <form method="POST" action="/sendmessage/s">
        <input type="text" name="to" placeholder="Sending Message To..." value="{{to}}"><br><br>
        <textarea rows="2" cols="25" name="message" placeholder="message"
            style="width: fit-content;"></textarea><br><br>
        <input type="submit" value="Send Message" class="btn btn-success">
    </form>
    <br>
    <form method="POST" action="/clearmessage">
        <input type="submit" value="Clear Messages" class="btn btn-warning"><br>
    </form>
    <p class="err">{{err}}</p>
    <h2>Messages</h2>
    <div class="messages">
        <div class="container">
            {{#each messages}}
            {{#if send}}
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="box" style="margin-left:2px">
                        To:<b>{{this.to}}</b><br>
                        <i>{{this.date}}</i><br>
                        {{this.message}}<br>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 get">
                    <div class="box" style="margin-right:2px;margin-left:60%">
                        <b>{{this.from}}</b><br>
                        <i>{{this.date}}</i><br>
                        {{this.message}}<br>
                    </div>
                </div>
            </div>
            {{/if}}
            <br>
            {{/each}}
        </div>
    </div>
    </div>

</body>

</html>