<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Organization</title>
    <style>
        .nav {
            padding: 5px;
            width: 100%;
            height: fit-content;
            background-color: darkgrey;
        }

        .box {
            border: 1px solid black;
            border-radius: 20px;
            height: 100px;
            width: 150px;
            background-color: antiquewhite;
            text-align: center;
            float: left;
        }

        .message {
            text-align: center;
            border: 1px solid black;
            border-radius: 10px;
            width: fit-content;
            padding: 5px;
        }

        .err {
            font-family: 'Courier New', Courier, monospace;
            color: red;
        }
    </style>
</head>

<body style="background-color: aliceblue;">
    <div class="nav">
        <img src="logo.png">
    </div>
    <h1 style="text-align: center;">Welcome to ShopConnect</h1>
    <hr>
    <i>
        <h3>Your Details</h3>
    </i><br>
    <p>Shop : {{user.username}} <br> Address : {{user.address}}</p>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12 col-xs-12 box">

                <h6 style="text-align: center;">Face Mask</h6>
                <p>{{user.products.mask}}</p>

            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-xs-12 box">

                <h6 style="text-align: center;">PPE</h6>
                <p>{{user.products.ppe}}</p>

            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-xs-12 box">

                <h6 style="text-align: center;">Ventilators</h6>
                <p>{{user.products.ventilator}}</p>

            </div>

            <div class="col-lg-3 col-md-3 col-xs-12 col-xs-12 box">

                <h6 style="text-align: center;">Gown</h6>
                <p>{{user.products.gown}}</p>

            </div>
        </div>
    </div>
    <a href="/detail/o"><button>Change Details</button></a><br>
    <br>
    <form action="/signout" method="POST">
        <input type="submit" value="Sign Out">
    </form>
    </br>
    <br><br><br><br><br><br>
    <form method="POST" action="/sendmessage/o">
        <input type="text" name="to" placeholder="Sending Message To..." value="{{to}}"><br>
        <textarea type="text" name="message" placeholder="message" rows="2" cols="12">
            </textarea>
        <input type="submit" value="Send Message" class="btn btn-success">
    </form>
    <br>
    <form method="POST" action="/clearmessage/o">
        <input type="submit" value="Clear Messages" class="btn btn-warning"><br>
    </form>
    <p class="err">{{err}}</p>
    <br><br>
    <h2 style="align-self: center;">Messages</h2>
    <div style="text-align: center;">
        {{#each user.messages}}
        {{#if send}}
        <div class="message" style="margin-left:2px">
            <b>{{this.to}}</b><br>
            <i>{{this.date}}</i><br>
            {{this.message}}<br>
        </div>
        {{else}}
        <div class="message" style="margin-right:2px;margin-left:60%">
            <b>{{this.from}}</b><br>
            <i>{{this.date}}</i><br>
            {{this.message}}<br>
        </div>
        {{/if}}
        <br>
        {{/each}}
        <br><br>
    </div>
</body>

</html>